@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    <link href="~/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <style>

        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>
<body>

    <form id="forgot" class="needs-validation" action="../Authentication/ForgotPassword" method="post" enctype="multipart/form-data">
        <div class="container center-container">
            <div class="row">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <h3 class="card-title text-center">Reset Password</h3>
                        </div><br />
                        <div class="row">
                            <div class="col-md-8 mb-3">
                                <label for="custFname">Email</label>
                                <input type="email" class="form-control" id="custFname" name="email" placeholder="Email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                @if (ViewBag.invalidEmail != null)
                                {
                                    <span style="color:red;">@ViewBag.invalidEmail</span>
                                }
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" id="submitForm">Reset</button>
                    </div>
                </div>
                <span>Already have an account? <a href="~/Authentication/LogIn">Sign In</a></span>
            </div>
        </div>

    </form>

    <script src="~/Bootstrap/script/popper.min.js"></script>
    <script src="~/Bootstrap/script/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Bootstrap/script/bootstrap.min.js"></script>
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    @{
        if (ViewBag.invalidEmail != null)
        {
        <script>
                        swal({
                            title: "@ViewBag.invalidOTP",
                            text: "Please input an valid email.",
                            icon: "error"
                        });

        </script>
        }
    }
</body>
</html>